<ion-view view-title="Assets" ng-init="init()">
    <ion-content data-tap-disabled="false">
        <div class="wrapper">
            <div class="category">
                <div class="data-table">
                    <div class="data-row">
                        <div class="data-cell">
                            <label class="item item-input item-select">
                                <div class="input-label">
                                    View
                                </div>
                                <select ng-model="view" ng-options='item.text for item in views track by item.value'></select>
                            </label>
<!--
                            <label class="item item-input item-select">
                                <div class="input-label">
                                    Filter
                                </div>
                                <select ng-model="filter" ng-options='item.text for item in filters track by item.value' 
                                        ng-change="showList(filter.value, assetterm)"></select>
                            </label>
-->
                        </div>
                        <div class="data-cell data-cell-barcode middle">
                            <a class="button" >
<!--                                <i class="icon ion-ios-barcode-outline"></i>-->
<!--                                <img src="img/barcode_icon.png" alt="" width="25"/>-->
                                &nbsp;
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="button-bar">
                    <a class="button button-small" ng-class="{'active':(type=='all')}" ng-click="showList('all', assetterm)">All</a>
                    <a class="button" ng-class="{'active':(type=='category')}" ng-click="showList('category', assetterm)">Category</a>
                    <a class="button" ng-class="{'active':(type=='location')}" ng-click="showList('location', assetterm)">Location</a>
                    <a class="button" ng-class="{'active':(type=='team')}" ng-click="showList('team', assetterm)">Team</a>
                </div> 
            </div>
            <div class="filter">
                <div class="list list-filter">
                    <label class="item item-input">
                        <!--<i class="icon ion-search placeholder-icon"></i>-->
                        <input type="text" name="assetterm" placeholder="Search" ng-model="assetterm"/>
                    </label>
                </div>
                <button class="button button-small filter-button button-clear" ng-click="showList( filter.value, assetterm )">
                    <i class="icon ion-search"></i>
                </button>
            </div>
                
            <!--<div class="assets-view" id="assets-list" ng-show="view.value=='list'?true:false">-->
            <div class="assets-view" id="assets-list" ng-if="view.value=='list'">                    
                <div ng-repeat="item in data" class="assets-list">
                    <h5 ng-show="item.type=='All'?false:true">Asset &raquo; {{ item.type }}</h5>
<!--
                    <div class="data-table">
                        <div class="data-row">
                            <div class="data-cell header checkbox middle">
                                <input type="checkbox"/>
                            </div>
                            <div class="data-cell header middle">
                                ID/TEAM/LOC/CAT
                            </div>
                        </div>
                    </div>
-->
<!--
                    <div class="data-table">
                        <div class="data-row ink" ng-repeat="asset in item.assets" ng-last-repeat="dataList">
                            <div class="data-cell checkbox">
                                <input type="checkbox"/>
                            </div>
                            <div class="data-cell padding-top" >
                                <div><span ng-bind="asset.code_reference"></span>&nbsp;-&nbsp;<span ng-bind="asset.asset_name"></span></div>
                                <div>
                                    <span ng-bind="asset.team_name"></span>&nbsp;-&nbsp;
                                    <span ng-bind="asset.location_name"></span>&nbsp;-&nbsp;
                                    <span ng-bind="asset.category_name"></span>
                                </div>
                                <div class='attributes'>
                                    <div ng-repeat="attribute in assets.attributes">
                                        <span ng-bind="attribute.asset_attributes_name"></span>
                                        &nbsp;:&nbsp;
                                        <span ng-bind="attribute.attribute_value_name"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="data-cell padding-top thumbnail">
                                <img src="img/ionic.png" alt="" />
                            </div>
                        </div>
                    </div>
-->
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    <div class="list animate-fade-slide-in-right_">
                        <a class="item item-thumbnail-right item-asset" href="#" ng-repeat="asset in item.assets" ng-last-repeat="dataList">
                            
                            <img src="img/ionic.png">
                            <h4>
                                <span ng-bind="asset.team_name"></span>&nbsp;|&nbsp;
                                <span ng-bind="asset.location_name"></span>&nbsp;|&nbsp;
                                <span ng-bind="asset.category_name"></span>
                            </h4>
                            <div ng-repeat="attribute in asset.attributes">
                                <span ng-bind="attribute.asset_attributes_name"></span>
                                &nbsp;:&nbsp;
                                <span ng-bind="attribute.attribute_value_name"></span>
                            </div>
                            <div class="item-header">
                                <span ng-bind="asset.code_reference"></span>&nbsp;|&nbsp;<span ng-bind="asset.asset_name"></span>
                            </div>
                        </a>
                    </div>
                    
                
                    
                    
                    
                </div>
            </div>
            <!--{{ map.center }}-->
            <!--<div class="assets-view map" id="assets-map" ng-show="view.value=='map'?true:false">-->
            <div class="assets-view map" id="assets-map" ng-if="view.value=='map'">
                <div id="map_canvas" >
                    <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" options="options" bounds="map.bounds">
                        <ui-gmap-markers models="markers" coords="'self'" icon="'icon'" click="onClick">
                            <ui-gmap-windows show="show">
                                <div ng-non-bindable>{{title}}</div>
                            </ui-gmap-windows>
                        </ui-gmap-markers>
                    </ui-gmap-google-map>
                </div>               
            </div>
        </div>  
    </ion-content>
    <div class="add-button">
        <button class="button button-fab button-small add-button" ng-click="add()">
            <i class="icon ion-plus"></i>
        </button>
    </div>
</ion-view>
