<ion-view view-title="Assets" ng-init="init()">
    <ion-content data-tap-disabled="false">
        <div class="wrapper">
            <div class="category">
                <div class="data-table">
                    <div class="data-row">
                        <div class="data-cell">
                            <div class="button-bar">
                                <a class="button" ng-class="{'active':(view=='list')}" ng-click="setView('list')">List
                                </a>
                                <a class="button" ng-class="{'active':(view=='map')}"  ng-click="setView('map')" ng-disabled="disabledMap">
                                    Map
                                </a>
                            </div>
                        </div>
                        <div class="data-cell data-cell-barcode middle">
                            <a class="button" ng-click="scan()">
                                &nbsp;
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-show="view=='list'">
                <div>
                    <div class="button-bar">
                        <a class="button" ng-class="{'active':(type=='all')}" ng-click="showList('all', assetterm, '')">All
                        </a>
                        <a class="button" ng-class="{'active':(type=='category')}" ng-click="showList('category', assetterm, '')">
                            <span class='filter-text'>Category</span><span class='filter-icon'><i class='icon ion-grid'></i></span>
                        </a>
                        <a class="button" ng-class="{'active':(type=='location')}" ng-click="showList('location', assetterm, '')">
                            <span class='filter-text'>Location</span><span class='filter-icon'><i class='icon ion-location'></i></span>
                        </a>
                        <a class="button" ng-class="{'active':(type=='team')}" ng-click="showList('team', assetterm, '')">
                            <span class='filter-text'>Team</span><span class='filter-icon'><i class='icon ion-ios-people'></i></span>
                        </a>
                    </div> 
                </div>
                <div class="filter">
                    <div class="list list-filter">
                        <label class="item item-input">
                            <!--<i class="icon ion-search placeholder-icon"></i>-->
                            <input type="text" name="assetterm" placeholder="Search" ng-model="assetterm"/>
                        </label>
                    </div>
                    <button class="button button-small filter-button button-clear" ng-click="showList( type, assetterm, '' )">
                        <i class="icon ion-search"></i>
                    </button>
                </div>
            </div>
            
            <!--<div class="assets-view" id="assets-list" ng-show="view.value=='list'?true:false">-->
            <div class="assets-view" id="assets-list" ng-if="view=='list'">                   
                <div ng-repeat="item in data" class="assets-list">
                    <h5 ng-show="item.type=='All'?false:true">
                        {{ type.charAt(0).toUpperCase() + type.slice(1) }} &raquo; {{ item.type }}
                    </h5>                    
                    <div class="list animate-fade-slide-in-right_">
                        <a ng-if="actionType == 0" 
                           class="item item-thumbnail-right item-asset" 
                           ng-href="#/app/asset/{{ asset.server_id }}" 
                           ng-repeat="asset in item.assets track by $index" 
                           ng-last-repeat="dataList">

                            <img ng-src="{{asset.src}}" alt="" />
                            
                            <h4>
                                <span ng-bind="asset.team_name"></span>&nbsp;|&nbsp;
                                <span ng-bind="asset.location_name"></span>&nbsp;|&nbsp;
                                <span ng-bind="asset.category_name"></span>
                            </h4>
                            <div ng-repeat="attribute in asset.attributes" class="asset-attributes">
                                <div ng-if="attribute.action!=='D'">
                                    <span ng-bind="attribute.asset_attributes_name"></span>
                                    &nbsp;:&nbsp;
                                    <span ng-bind="attribute.attribute_value_name"></span>
                                </div>
                            </div>
                            <div class="item-header">
                                <span ng-bind="asset.code_reference"></span>
                                &nbsp;|&nbsp;
                                <span ng-bind="asset.asset_name"></span>
                                <span ng-if="asset.server_id > startingOflineId" class="local">
                                    <i class="icon ion-android-sync"></i>
                                </span>
                            </div>
                        </a>
                        <!-- inspecstion_id, survey_id, assetid, inspection_line_id -->
                        <a ng-if="actionType > 0" 
                           class="item item-thumbnail-right item-asset" 
                           ng-href="{{asset.survey_id>0?'#/app/assetsurvey/0/'+asset.survey_id+'/'+asset.asset_id+'/'+asset.id:'#'}}" 
                           ng-repeat="asset in item.assets track by $index" 
                           ng-last-repeat="dataList">

                            <img ng-src="{{asset.src}}" alt="" />
                            
                            <h4>
                                <span ng-bind="asset.team_name"></span>&nbsp;|&nbsp;
                                <span ng-bind="asset.location_name"></span>&nbsp;|&nbsp;
                                <span ng-bind="asset.category_name"></span>
                            </h4>
                            <div ng-repeat="attribute in asset.attributes" class="asset-attributes">
                                <div ng-if="attribute.action!=='D'">
                                    <span ng-bind="attribute.asset_attributes_name"></span>
                                    &nbsp;:&nbsp;
                                    <span ng-bind="attribute.attribute_value_name"></span>
                                </div>
                            </div>
                            <div class="item-header">
                                <span ng-bind="asset.code_reference"></span>
                                    &nbsp;|&nbsp;
                                <span ng-bind="asset.asset_name"></span>
                                <span ng-if="asset.server_id > startingOflineId" class="local">
                                    <i class="icon ion-android-sync"></i>
                                </span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div>
        </div>
            <!--{{ map.center }}-->
            <!--<div class="assets-view map" id="assets-map" ng-show="view.value=='map'?true:false">-->
            <div class="assets-view map" id="assets-map" ng-if="view=='map'">
                <div id="map_canvas" >
                    <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" options="options" bounds="map.bounds">
                        <ui-gmap-markers models="markers" coords="'self'" icon="'icon'" click="onClick">
                            <ui-gmap-windows show="show">
                                <div ng-non-bindable>{{title}}</div>
                            </ui-gmap-windows>
                        </ui-gmap-markers>
                    </ui-gmap-google-map>
                </div>               
            </div>
        </div>  
        
    </ion-content>
    <div class="add-button" ng-if="actionType == 0">
        <a class="button button-fab button-small add-button"  ng-href="#/app/assetadd/0" >
            <i class="icon ion-plus"></i>
        </a>
    </div>
</ion-view>
