<ion-popover-view>
    <ion-content>
        <div class="list">
            <a class="item" ng-click="showList('all', assetterm, ''); popover.hide();">
                All
            </a>
            <a class="item" ng-click="showList('category', assetterm, ''); popover.hide();">
                By Category
            </a>
            <a class="item" ng-click="showList('location', assetterm, ''); popover.hide();">
                By Location
            </a>
            <a class="item" ng-click="showList('team', assetterm, ''); popover.hide();">
                By Team
            </a>
        </div>
    </ion-content>
</ion-popover-view>
