<ion-view view-title="{{action}} Asset" ng-init="init()">
    <ion-nav-buttons side="secondary">
        <a class="button button-icon ion-ios-camera no-shadow" ng-href="#/app/assetimages/{{ data.server_id }}"></a>
        <a class="button button-icon ion-ios-barcode-outline no-shadow" ng-click="scan()"></a>
        <a class="button button-icon ion-wand no-shadow" ng-href="#/app/assetsurveys/{{ data.server_id }}"></a>
        <a class="button button-icon ion-android-done no-shadow" ng-click="save()"></a>
    </ion-nav-buttons>
    <ion-content>
        <div class="wrapper fix-button">
            <!-- paging button -->
            <div class="paging-button" >
                <div class="data-table">
                    <div class="data-row">
                        <div class="data-cell center middle"> 
                            <a ng-click="showAssetForm(prev_id)" class="button left button-small button-positive" ng-disabled="prev_id==-1"><span class="nav ion-ios-arrow-left">&nbsp;</span></a>
                            <a ng-click="showAssetForm(next_id)" class="button right button-small button-positive" ng-disabled="next_id==-2"><span class="nav ion-ios-arrow-right">&nbsp;</span></a>
                        </div>
                    </div>
                </div>
            </div>
            <br/>
            <!-- slider -->
            <div class="carousel" style="display:none_;" ng-if='asset_gallery_length > 0'>
                <img ng-src='{{asset_gallery[asset_gellery_index].base64}}' alt="" class="responsive" />
                <div ng-if='asset_gallery_length > 1'>
                    <button class="button button-small button-fab button-clear prev-button" ng-click="prevGalleryPicture()" ng-disabled="asset_gellery_index==0">
                        <i class="icon ion-ios-arrow-left"></i></button>
                    <button class="button button-small button-fab button-clear next-button" ng-click="nextGalleryPicture()" ng-disabled="asset_gellery_index==(asset_gallery_length - 1)">
                        <i class="icon ion-ios-arrow-right"></i></button>
                </div>
            
                <div class="gallery-navigation" ng-if='asset_gallery_length > 1'>
                    <ul>
                        <li ng-repeat="as_gal in asset_gallery">
                            <a ng-click="setGelleryIndex($index)" ng-disabled="asset_gellery_index==$index">{{asset_gellery_index + '  ' + $index }}</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- form -->
            <form name="assetForm" ng-submit="validateAsset(assetForm.$valid)" novalidate >
                <!-- asset code -->
                <div class="details"> 
                    <div class="list">
                        <label class="item item-input item-stacked-label">
                            <span class="input-label">Asset Name*</span>
                            <input type="text" ng-model="data.asset_name" name="asset_name" placeholder="" required>
                            <p ng-show="assetForm.asset_name.$error.required && !assetForm.asset_name.$pristine">Required.</p>
                        </label>
                        <label class="item item-input item-stacked-label">
                            <span class="input-label">Code Reference</span>
                            <input type="text" ng-model="data.code_reference" 
                                   name="code_reference" placeholder="" required>
                            <p ng-show="assetForm.code_reference.$error.required && !assetForm.code_reference.$pristine">Required.</p>
                        </label>
                        <label class="item item-input item-stacked-label">
                            <span class="input-label">Barcode</span>
                            <input type="text" ng-model="data.barcode" name="barcode" placeholder="" >
                        </label>
                        <label class="item item-input item-stacked-label">
                            <span class="input-label">Location</span>
                            <ion-autocomplete 
                                ng-model="data.location_name"
                                title="Search Location"
                                item-value-key="view"
                                item-view-value-key="name"
                                item-view-value-key="id"
                                items-method="getLocationItems(query)"
                                items-method-value-key="items"
                                items-clicked-method="itemLocationClicked(callback)"
                                select-items-label="Location"
                                selected-items-label="Selected:"/>
                        </label>
                        <label class="item item-input item-stacked-label">
                            <span class="input-label">Parent Asset</span>
                            <ion-autocomplete 
                                ng-model="data.parent_name"
                                title="Search Parent Asset"
                                item-value-key="view"
                                item-view-value-key="name"
                                item-view-value-key="id"
                                items-method="getAssetItems(query)"
                                items-method-value-key="items"
                                items-clicked-method="itemAssetClicked(callback)"
                                select-items-label="Parent Asset"
                                selected-items-label="Selected:"/>
                        </label>
                        <label class="item item-input item-stacked-label">
                            <span class="input-label">Category</span>
                            <ion-autocomplete 
                                ng-model="data.category_name"
                                title="Search Category"
                                item-value-key="view"
                                item-view-value-key="name"
                                item-view-value-key="id"
                                items-method="getCategoryItems(query)"
                                items-method-value-key="items"
                                items-clicked-method="itemCategoryClicked(callback)"
                                select-items-label="Category"
                                selected-items-label="Selected:"/>
                        </label>
                        <label class="item item-input item-stacked-label">
                            <span class="input-label">Team</span>
                            <ion-autocomplete 
                                ng-model="data.team_name"
                                title="Search Team"
                                item-value-key="view"
                                item-view-value-key="name"
                                item-view-value-key="id"
                                items-method="getTeamItems(query)"
                                items-method-value-key="items"
                                items-clicked-method="itemTeamClicked(callback)"
                                select-items-label="Team"
                                selected-items-label="Selected:"/>
                        </label>
                        <label class="item item-input item-stacked-label">
                            <span class="input-label">Company</span>
                            <ion-autocomplete 
                                ng-model="data.company_name"
                                title="Search Company"
                                item-value-key="view"
                                item-view-value-key="name"
                                item-view-value-key="id"
                                items-method="getCompanyItems(query)"
                                items-method-value-key="items"
                                items-clicked-method="itemCompanyClicked(callback)"
                                select-items-label=""
                                selected-items-label="Selected:"/>
                        </label>
                        <label class="item item-input item-stacked-label">
                            <span class="input-label">Vendor</span>
                            <ion-autocomplete 
                                ng-model="data.vendor_name"
                                title="Search Vendor"
                                item-value-key="view"
                                item-view-value-key="name"
                                item-view-value-key="id"
                                items-method="getVendorItems(query)"
                                items-method-value-key="items"
                                items-clicked-method="itemVendorClicked(callback)"
                                select-items-label="Vendor"
                                selected-items-label="Selected:"/>
                        </label>
                        <label class="item item-input item-stacked-label">
                            <span class="input-label">Latitude - Longitude</span>
                            <input type="text" ng-model="title" name="title" placeholder="" ng-enabled="false" >
                        </label>
                        <label class="item item-input item-stacked-label">
                            <span class="input-label">Address</span>
                            <textarea name="address" ng-bind="address" rows="5" ng-model="data.address"></textarea>
                        </label>
                        <label class="item item-input item-stacked-label">
                            <span class="input-label">Description</span>
                            <textarea name="description" ng-bind="description" rows="5" ng-model="data.description"></textarea>
                        </label>
                    </div>
                    <div class="line">&nbsp;</div>
                    <div class="list-attributes">
                        <b>Asset Information Details :</b>
                        <div class="list list-inset">
                            <div ng-repeat="attribute in data.attributes">
<!--                                    {{attribute}}-->
                                <div class="data-table" ng-show="attribute.action !== 'D' ">
                                    <div class="data-row">
                                        <div class="data-cell data-cell-attribute">
<!--                                            <input type="text" ng-model="attribute.key"  placeholder="" >-->
                                            <ion-autocomplete 
                                                ng-model="attribute.asset_attributes_name"
                                                title="Search Attribute"
                                                item-value-key="view"
                                                item-view-value-key="name"
                                                items-method="getAttributeItems(query)"
                                                items-method-value-key="items"
                                                items-clicked-method="itemAttributeClicked(callback, $index)"
                                                select-items-label="Attribute"
                                                selected-items-label="Selected:"/>
                                        </div>
                                        <div class="data-cell">
                                            <input type="text" ng-model="attribute.attribute_value_name"  placeholder="" >
                                            <input type="hidden" ng-model="attribute.attribute_value_asset" />
                                        </div>
                                        <div class="data-cell">
                                            <a class="button button-small button-assertive" ng-click="removeAttribute( $index )">X</a>
                                        </div>
                                    </div>
                                </div>
                               
                            </div>
                        </div>
<!--                         {{data.attributes}}-->
                        <div class="right">
                            <a class="button button-small button-balanced" ng-click="addNewAttribute()">+</i></a>
                        </div>
                        <br/>
                    </div>
                </div>
            </form>
<!--
            <div>
                {{ data.action }}
                {{ data.attributes }}
            </div>
-->
        </div>  
    </ion-content>
</ion-view>
<style>
    .platform-ios div.title.title-center.header-item{
        left: 30px !important;
    }
    .platform-android div.title.title-center.header-item,
    .platform-android div.title.title-left.header-item{
        left: 30px !important;
        right: initial !important;
        top: 1px !important;
    }
    .details{
        margin: 10px 5px;
    }
</style>
