<ion-view view-title="Assets" ng-init="init()">
<!--<ion-view view-title="{{ asset.asset_name }}" ng-init="init()">-->
    <!-- //url: "/assetsurvey/:serverId/:surveyId/:assetId/:assignmentLineId" -->
    <ion-content>
        <div class="wrapper fix-button">
            <br/>
            <div class="list">
                <div class="item item-button-right" ng-repeat="item in data" ng-if="item.assignment_line_id <= 0">
                    {{$index + 1}}. {{item.date_create}}
                    <a class="button button-clear" ng-href="#/app/assetsurvey/{{ item.user_input_id }}/0/0/0" 
                       ng-if="item.user_input_id > 0">
                      <i class="icon ion-chevron-right"></i>
                    </a>
                    <a class="button button-clear" ng-href="#/app/assetsurvey/{{ item.server_id }}/0/0/0" 
                       ng-if="item.user_input_id == 0">
                      <i class="icon ion-chevron-right"></i>
                    </a>
<!--                        <div >{{ item.assignment_line_id > 0 }}</div>-->
                    <div class="asset-status survey-status" ng-if="item.action =='C' || item.action == 'U'">
                        Not synced yet.
                    </div>
                </div>
            </div>
        </div>  
    </ion-content>
<!--    {{data}}-->
    <div class="add-button">
        <a class="button button-fab button-positive button-small add-button"  ng-href="#/app/assetsurvey/0/{{surveyId}}/{{assetId}}/0" >
            <i class="icon ion-plus"></i>
        </a>
    </div>
</ion-view>
