<ion-popover-view>
    <ion-content>
        <div class="list">
            <a class="item" ng-click="popover.hide();" href="#/app/assetadd/{{ asset.server_id }}">
                Edit
            </a>
            <a class="item" ng-click="popover.hide();" href="#/app/assetsurveys/{{ asset.server_id }}">
                Inspect
            </a>
            <a class="item" ng-click="popover.hide();" href="#/app/assetsurveys/{{ asset.server_id }}">
                Move
            </a>
        </div>
    </ion-content>
</ion-popover-view>