<ion-view view-title="Asset Images" ng-init="init()">
    <ion-nav-buttons side="secondary">
        <a class="button button-icon ion-ios-camera no-shadow" ng-click="takeAPicture()"></a>
    </ion-nav-buttons>
    <ion-content>
        <div class="wrapper fix-button">
            <br/>
            <button class="button button-small button-positive button-take-a-picture" ng-click="takeAPicture()">
                <i class="icon icon-middle ion-ios-camera"></i>
            </button>
            <a ng-click="uploadAll()" class="button button-positive button-small" ng-if="showUploadButton" 
               ng-disabled="startingOfflineId <= asset.server_id">
                <i class='icon icon-middle ion-upload'></i>
            </a>

            <br/>
            <ion-list ng-if="startingOfflineId <= asset.server_id">
                <ion-item  class="card card-message">
                    The assets has not been synchronized.
                </ion-item>
            </ion-list>
            <br/>
            <div id="asset-canvas-wrapper" ng-show="src !=='' ">
                <canvas class="canvas canvas-white" height="{{ canvasH }}" width="{{ canvasW }}" id="asset-canvas-main"></canvas>
            </div>

            <div class="images-list">
                <div ng-repeat="picture in pictures" class="asset-images">
                    <img ng-src="{{picture.base64}}" alt="" class="responsive" />
                    <div class="button-wrapper">
<!--
                        <a ng-click="upload(picture)" class="button button-positive button-small" ng-disabled="startingOflineId < picture.asset_id">
                            <i class='icon icon-middle ion-upload'></i>
                        </a>
-->
<!--                        <a href="#" class="button button-positive button-small" ng-click="delete(picture.id, picture.asset_id)"><i class='icon icon-middle ion-close'></i></a>-->
<!--
                        <a ng-click="upload(picture)" class="button button-small button-positive" ng-disabled="startingOflineId < picture.asset_id">
                            <i class='icon icon-middle ion-upload'></i>
                        </a>
-->
                        <a href="#" class="button button-small button-energized" ng-click="delete(picture.id, picture.asset_id)"><i class='icon icon-middle ion-close'></i></a>
                    </div>
                    <div class="status" ng-if="picture.action=='C'">
                        Not synced yet.
                    </div>
                </div>
            </div>
        </div>  
    </ion-content>
</ion-view>
