<ion-view view-title="Asset Details" ng-init="init()">
    <ion-content>
        <div class="wrapper fix-button">
            <!-- paging button -->
            <div class="paging-button">
                <div class="data-table">
                    <div class="data-row">
                        <div class="data-cell center middle">
                            <!--{{prev_id}}   ----   {{ next_id }}-->
                            <a ng-click="showDetails(prev_id)" class="button button-small" ng-disabled="prev_id==-1">Prev</a>
                            <a ng-click="showDetails(next_id)" class="button button-small" ng-disabled="next_id==-2">Next</a>
                        </div>
                        <div class="data-cell data-cell-barcode middle">
                            <a class="button button-small" ng-click="scan()">
                                &nbsp;
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- slider -->
            <div class="carousel" ng-if='asset_gallery_length > 0'>
                <img ng-src='{{asset_gallery[asset_gellery_index].base64}}' alt="" class="responsive" />
                <div ng-if='asset_gallery_length > 1'>
                    <button class="button button-small button-fab button-clear prev-button" ng-click="prevGalleryPicture()" ng-disabled="asset_gellery_index==0">
                        <i class="icon ion-ios-arrow-left"></i></button>
                    <button class="button button-small button-fab button-clear next-button" ng-click="nextGalleryPicture()" ng-disabled="asset_gellery_index==(asset_gallery_length - 1)">
                        <i class="icon ion-ios-arrow-right"></i></button>
                </div>
            
                <div class="gallery-navigation" ng-if='asset_gallery_length > 1'>
                    <ul>
                        <li ng-repeat="as_gal in asset_gallery">
                            <a ng-click="setGelleryIndex($index)" ng-disabled="asset_gellery_index==$index">{{asset_gellery_index + '  ' + $index }}</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- button -->
            <div class="edit-button center">
                <a ng-href="#/app/assetimages/{{ asset.server_id }}" class="button button-small" >
                    <i class="icon icon-middle ion-images"></i>
                </a>
                <a ng-href="#/app/assetsurveys/{{ asset.server_id }}" class="button button-small" ng-disabled="asset.survey_id == 0">
                    <i class="icon icon-middle ion-help"></i>
                </a>
                <a ng-href="#/app/assetadd/{{ asset.server_id }}" class="button button-small button-dark">
                    <i class="icon icon-middle ion-edit"></i>
                </a>
                <span ng-if="asset.server_id > startingOflineId" class="local">
                    <i class="icon ion-android-sync"></i>
                </span>
            </div>
            <!-- asset code -->
            <div class="details">
                <h4>{{ asset.code_reference }}</h4>
                <div class="item-header">{{ asset.asset_name }}</div>
                <div class="item-details">
                    <div class="data-table">
                        <div class="data-row">
                            <div class="data-cell">
                                <ul>
                                    <li><b>Location :</b> {{ asset.location_name }}</li>
                                    <li><b>Parent :</b> {{ asset.parent_name }}</li>
                                    <li><b>Latitude :</b> {{ asset.latitude }}</li>
                                    <li><b>Longitude :</b> {{ asset.longitude }}</li>
                                </ul>
                            </div>
                            <div class="data-cell">
                                <ul>
                                    <li><b>Category :</b> {{ asset.category_name }}</li>
                                    <li><b>Barcode :</b> {{ asset.barcode }}</li>
                                    <li><b>Company :</b> {{ asset.company_name }}</li>
                                    <li><b>Vendor :</b>{{ asset.partner_name }}</li>
                                    <li><b>Team :</b> {{ asset.team_name }}</li>
                                    <li><b>Created Date :</b> <span ng-bind="asset.create_date | date:'MM/dd/yyyy'"></span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <br/>
                    <div>
                        <ul>
                            <li>
                                <b>Address :</b> {{ asset.address }}
                            </li>
                            <li>
                                <b>Description :</b> {{ asset.description }}
                            </li>
                        </ul>
                    </div>
                    <div class="line">&nbsp;</div>
                    <div>
                        <b>Asset Information Details :</b>
                        <ul>
                            <li ng-repeat="attribute in attributes" ng-if="attribute.action !== 'D'"><b> {{attribute.asset_attributes_name}} :</b> {{attribute.attribute_value_name}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>  
    </ion-content>
</ion-view>
