<ion-view view-title="Assets" ng-init="init()">
    <ion-nav-buttons side="secondary">
        <button class="button no-shadow" ng-click="showFilterBar()">
            <i class="icon icon-middle ion-ios-search-strong"></i>
        </button>
        <button class="button no-shadow" ng-click="scan()">
            <i class="icon icon-middle ion-ios-barcode-outline"></i>
        </button>
        <button class="button no-shadow" ng-click="popover.show($event)">
            <i class="icon icon-middle ion-ios-more"></i>
        </button>
    </ion-nav-buttons>
    <ion-tabs class="tabs-icon-top tabs-positive">
        <ion-tab 
            title="List View" 
            icon-on="ion-ios-list-outline" 
            icon-off="ion-ios-list">
            <ion-content scroll="true">
                <ion-refresher pulling-icon="ion-arrow-down-b" on-refresh="refreshItems()">
                </ion-refresher>
                <div class="wrapper content">
                    <div class="assets-view" id="assets-list" ng-if="view=='list'">          
                        <div ng-repeat="item in data" class="assets-list" ng-if="actionType == 0">
                            <h5 ng-show="item.type=='All'?false:true" class="group-title">
                                {{ type.charAt(0).toUpperCase() + type.slice(1) }} &raquo; {{ item.type }}
                            </h5> 
                            <ion-list>
                                <ion-item 
                                    item-height="160px" 
                                    ng-href="#/app/asset/{{ asset.server_id }}" 
                                    class="card item-thumbnail-right am-item" 
                                    ng-repeat="asset in item.assets track by $index" 
                                    ng-last-repeat="dataList">
                                    <img ng-src="{{asset.src}}" alt="" />
                                    <div class="item item-divider" 
                                         style="padding: 0px; 
                                         word-wrap: 
                                         break-word; font-size: 12px; 
                                         border: 0px; 
                                         line-height: 20px; 
                                         height: 38px; 
                                         margin: 0 0 5px 0">
                                        {{asset.code_reference}}<br/>
                                        {{asset.asset_name}}
                                    </div>
                                    <div class="item" style="padding: 0px; font-size: 13px">
                                        <span ng-bind="asset.location_name" style="color: #ffa549"></span>
                                        &nbsp;|&nbsp;
                                        <span ng-bind="asset.team_name"></span>
                                        <br/>
                                        <span ng-bind="asset.category_name"></span>
                                    </div>
                                    <div ng-repeat="attribute in asset.attributes" 
                                         class="asset-attributes" style="font-size: 10px">
                                        {{attribute.asset_attributes_name}}
                                        &nbsp;:&nbsp;
                                        {{attribute.attribute_value_name}}
                                    </div>
                                    <div class="asset-status" ng-if="asset.action !== 'O'">
                                        Not synced yet.
                                    </div>
                                </ion-item>
                            </ion-list>
                            <br/>
                            <br/>
                        </div>
                        <div ng-repeat="item in data" class="assets-list" ng-show="actionType > 0">
                            <h5 ng-show="item.type=='All'?false:true" class="group-title">
                                {{ type.charAt(0).toUpperCase() + type.slice(1) }} &raquo; {{ item.type }}
                            </h5> 
                            <ion-list>
                                <ion-item 
                                    ng-href="{{asset.survey_id>0?'#/app/assetsurvey/'+(asset.user_input_id==null?0:asset.user_input_id)+'/'+asset.survey_id+'/'+asset.asset_id+'/'+asset.id:'#'}}"
                                    class="card item-thumbnail-right am-item" 
                                    ng-repeat="asset in item.assets track by $index" 
                                    ng-last-repeat="dataList">
                                    <img ng-src="{{asset.src}}" alt="" />{{ asset.server_id}}
                                    <div class="item item-divider" 
                                         style="padding: 0px; 
                                         word-wrap: 
                                         break-word; font-size: 12px; 
                                         border: 0px; 
                                         line-height: 20px; 
                                         height: 40px; 
                                         margin: 0 0 5px 0">
                                        {{asset.code_reference}}<br/>
                                        {{asset.asset_name}}
                                        <span ng-if="asset.server_id > startingOflineId" class="local">
                                            <i class="icon ion-android-sync"></i>
                                        </span>
                                    </div>
                                    <div class="item" style="padding: 0px; font-size: 13px">
                                        <span ng-bind="asset.location_name" style="color: #ffa549"></span>
                                        &nbsp;|&nbsp;
                                        <span ng-bind="asset.team_name"></span><br/>
                                        <span ng-bind="asset.category_name"></span>
                                    </div>
<!--
                                    <div class="asset-status">
                                        Not synced yet.
                                    </div>
-->
<!--
                                    <div class="asset-wo-camera">
                                        <a class="button button-positive button-small" 
                                           ng-href="{{'#/app/workorderimages/'+actionType+'/'+asset.asset_id }}">
                                            <i class="icon icon-middle ion-ios-camera"></i>
                                        </a>
                                    </div>
-->
                                </ion-item>
                            </ion-list>
                        </div>
                    </div>        
                </div> 
            </ion-content>
            <div class="add-button">
                <a class="button button-fab button-small button-positive add-button" ng-href="#/app/assetadd/0" >
                    <i class="icon ion-plus"></i>
                </a>
            </div>
        </ion-tab>
        <ion-tab 
            title="Map View" 
            icon-on="ion-map" 
            icon-off="ion-map" >
            <ion-content>
                <div id="map" class="wrapper map">
                    <div class="assets-view map" id="assets-map">
<!--                        <div id="map_canvas" ng-if="disabledMap" >-->
                        <div id="map_canvas" >
                            <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" options="options" bounds="map.bounds">
                                <ui-gmap-markers models="markers" coords="'self'" icon="'icon'" click="onClick">
                                    <ui-gmap-windows show="show">
                                        <div ng-non-bindable>{{title}}</div>
                                    </ui-gmap-windows>
                                </ui-gmap-markers>
                            </ui-gmap-google-map>
                        </div>               
                    </div>  
                </div>
            </ion-content>
        </ion-tab>
    </ion-tabs>
</ion-view>
<style>
    .platform-android .wrapper.content{
        top: 0px;
    }
    .popover{
        height: 210px;
    }
    .platform-ios .wrapper.content{
        top: 0px;
    }
    .platform-ios div.title.title-center.header-item{
        left: 30px !important;
        right: initial !important;
    }
    .platform-android div.title.title-center.header-item,
    .platform-android div.title.title-left.header-item{
        left: 30px !important;
        right: initial !important;
        top: 1px !important;
    }
    .platform-android .wrapper.map{
        top: 95px;
    }
    .platform-ios .wrapper.map{
        top: 45px;
    }
    .group-title{
        margin: 10px 20px 0px 20px;
        color: #686868;
    }
    .list .item{
        border: none;
    }
    .bar.bar-header.bar-positive.item-input-inset{
        background-color: #387ef5 !important;
    }
</style>