<ion-view view-title="Login" ng-init="init()">
    <ion-content style="background-color:#303C4B;">
        <div class="wrapper">
            <div id="login-logo">
                <img src="img/header.png" alt=""/>
            </div>
            <div id="login-form">
                <form name="loginForm" ng-submit="validateLogin(loginForm.$valid)"  novalidate >
                    <div class="list list-inset">
                        <label class="item item-input">
                            <!--<span class="input-label">User Name</span>-->
                            <i class="icon ion-person placeholder-icon"></i>
                            <input type="text" ng-model="data.username" name="username" placeholder="User Name" required >
                            <p ng-show="loginForm.username.$error.required && !loginForm.username.$pristine">Required.</p>
                            <!--<p ng-show="loginForm.username.$error.minlength" class="help-block">Minimum 3 characters.</p>-->
                        </label>
                        <label class="item item-input">
                            <i class="icon ion-locked placeholder-icon"></i>
                            <input type="password" ng-model="data.password" name="password" placeholder="Password" required />
                            <p ng-show="loginForm.password.$error.required && !loginForm.password.$pristine">Required.</p>
                            <!--<p ng-show="loginForm.password.$error.minlength" class="help-block">Minimum 3 characters.</p>-->
                        </label>
                    </div> 
<!--                    {{atts}}-->
                    <div class="list">
                        <button type="submit" class="button button-block button-stable"  ng-disabled="loginForm.$invalid">
                            Log in
                        </button>
                    </div>
                    <div class="list" style="display:none;">
                        <a class="button button-block button-stable" ng-click="dropTable()">
                            Drop
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </ion-content>
</ion-view>
<style>
    .list .item{
        border: none;
    }
</style>
