<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-positive">
            <ion-nav-back-button>&nbsp;
            </ion-nav-back-button>

            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
                </button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left" width="240">
        <ion-header-bar class="bar-positive">
            <h1 class="title">&nbsp;</h1>
        </ion-header-bar>
        <ion-content
                 
            <div id="user-photo">
                <img src="img/user.jpg" alt="" class="user"/>
                <h5>Harrynov Simarmata</h5>
                <h6>Muai Thai Inc.</h6>
                <br/>
            </div>
            <ion-list>
                <ion-item menu-close href="#/app/assets/0">
                  <img src="img/asset_icon.png" alt="" width="25"/> Assets
                </ion-item>
                <ion-item menu-close href="#/app/workorders">
                  <img src="img/wo_icon.png" alt="" width="25"/> Work Orders
                </ion-item>
                <ion-item menu-close href="#/app/maps">
                  <img src="img/map_icon.png" alt="" width="25"/> Maps
                </ion-item>
                <ion-item menu-close href="#/app/messaging">
                  <img src="img/mesg_icon.png" alt="" width="25"/> Messaging
                </ion-item>
                <ion-item menu-close href="#/app/guideline">
                  <img src="img/guide_icon.png" alt="" width="25"/> Guidelines
                </ion-item>
                <ion-item menu-close href="#/app/user">
                    <img src="img/profile_icon.png" alt="" width="25"/> User
                </ion-item>
                <ion-item menu-close href="#/app/settings">
                    <img src="img/setting_icon.png" alt="" width="25"/> Settings
                </ion-item>
            </ion-list>
            <br/>
            <br/>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
<style>
    ion-side-menu .list .item{
        border: none;
    }
</style>
