<ion-view view-title="Settings">
    <ion-content>
        <div class="wrapper">
            <br/>
            <h3>Settings</h3>
            <br/>
            <h5>Clear database:</h5>
            <button class="button" ng-click="clearDatabase()">Clear Database</button>
        </div>  
    </ion-content>
</ion-view>
