<ion-view view-title="Work Orders" ng-init="init()">
    <ion-nav-buttons side="secondary">
        <button class="button no-shadow" ng-click="showFilterBar()">
            <i class="icon icon-middle ion-ios-search-strong"></i>
        </button>
        <button class="button no-shadow" ng-click="popover.show($event)">
            <i class="icon icon-middle ion-ios-more"></i>
        </button>
    </ion-nav-buttons>
    <ion-content data-tap-disabled="false">
        <ion-refresher pulling-icon="ion-arrow-down-b" on-refresh="getServerData(); refreshItems();">
        </ion-refresher>
        <div class="wrapper">
            <!--<div>
                <div>
                    <div class="button-bar">
                        <a class="button" ng-class="{'active':(type=='all')}" ng-click="showList('all', workorderterm, '')">All
                        </a>
                        <a class="button" ng-class="{'active':(type=='category')}" ng-click="showList('category', workorderterm, '')">
                            <span class='filter-text'>Category</span><span class='filter-icon'><i class='icon ion-grid'></i></span>
                        </a>
                        <a class="button" ng-class="{'active':(type=='location')}" ng-click="showList('location', workorderterm, '')">
                            <span class='filter-text'>Location</span><span class='filter-icon'><i class='icon ion-location'></i></span>
                        </a>
                        <a class="button" ng-class="{'active':(type=='team')}" ng-click="showList('team', workorderterm, '')">
                            <span class='filter-text'>Team</span><span class='filter-icon'><i class='icon ion-ios-people'></i></span>
                        </a>
                    </div> 
                </div> 
                <div class="filter">
                    <div class="list list-filter">
                        <label class="item item-input">
                            <input type="text" name="workorderterm" placeholder="Search" ng-model="workorderterm"/>
                        </label>
                    </div>
                    <button class="button button-small filter-button button-clear" ng-click="showList( type, workorderterm, '' )" style="top:66px;">
                        <i class="icon ion-search"></i>
                    </button>
                </div> 
            </div> -->
<!--            {{ data }}-->
            
            <div class="assets-view" id="workorder-list">                   
                <div ng-repeat="item in data" class="assets-list">
                    <h5 ng-show="item.type=='All'?false:true">
                        {{ type.charAt(0).toUpperCase() + type.slice(1) }} &raquo; {{ item.type }}
                    </h5>  
                    <ion-list>
                        <ion-item ng-href="#/app/workordersassets/{{ workorder.server_id }}" 
                            class="card item-thumbnail-right am-item" 
                            ng-repeat="workorder in item.workorders track by $index" 
                            ng-last-repeat="dataList">
                            <div class="item item-divider" 
                                 style="padding: 0px; word-wrap: break-word; 
                                 font-size: 12px; border: 0px; 
                                 line-height: auto; height: 30px; margin: 0 0 5px 0">
                                {{workorder.create_date | date:'yyyy-MM-dd'}}&nbsp;|&nbsp;{{workorder.name}}
                                <br/>
                            </div>
                            <h4>
                                <span ng-bind="workorder.team_name?workorder.team_name:'- '"></span>&nbsp;|&nbsp;
                                <span ng-bind="workorder.location_name?workorder.location_name:'- '"></span>&nbsp;|&nbsp;
                                <span ng-bind="workorder.category_name?workorder.category_name:'-'"></span>
                                <br/>
                                <br/>
<!--                                <h3>{{workorder.state.toUpperCase()}}</h3>-->
                            </h4>
                        </ion-item>
                    </ion-list>
                    <!-- 
                    <div class="list animate-fade-slide-in-right_">
                        <a class="item item-thumbnail-right item-asset item-asset-wo" ng-href="#/app/workordersassets/{{ workorder.server_id }}" 
                            ng-repeat="workorder in item.workorders track by $index" ng-last-repeat="dataList">
                            
                            <h4>
                                <span ng-bind="workorder.team_name"></span>&nbsp;|&nbsp;
                                <span ng-bind="workorder.location_name"></span>&nbsp;|&nbsp;
                                <span ng-bind="workorder.category_name"></span>
                            </h4>
                            
                            <div class="item-header">
                                <span ng-bind="workorder.create_date | date:'yyyy-MM-dd'"></span>&nbsp;|&nbsp;
                                <span ng-bind="workorder.name"></span>
                            </div>
                        </a>
                    </div> -->
                </div>
            </div>
        </div>  
    </ion-content>
<!--
    <div class="add-button">
        <a class="button button-fab button-small add-button" >
            <i class="icon ion-plus"></i>
        </a>
    </div>
-->
</ion-view>
<style>
    .platform-ios div.title.title-center.header-item{
        left: 30px !important;
        right: initial !important;
    }
    .platform-android div.title.title-center.header-item,
    .platform-android div.title.title-left.header-item{
        left: 30px !important;
        right: initial !important;
        top: 1px !important;
    }
    .popover{
        height: 210px;
    }
</style>