<ion-view view-title="Survey Form" ng-init="init()">
<!--    <ion-nav-buttons side="secondary" ng-if="Number(actionType) > 0">-->
    <ion-nav-buttons side="secondary">
        <a class="button button-icon ion-ios-camera no-shadow" ng-href="#/app/workorderimages/{{ data.server_id }}"></a>
    </ion-nav-buttons>
    <ion-content>
        <div class="wrapper fix-button">
            <br/> 
            <form name="surveyForm" ng-submit="surveySave(surveyForm.$valid)"  novalidate>
                <div class="details" ng-repeat="page in data.pages" ng-show="activePage==$index">
                    <h2>{{page.title}}</h2>
                    <div class="list" style="margin: -4px 0px !important; padding: 0px; !important;" ng-repeat="question in page.questions" >
                        <label class="item item-input item-stacked-label" ng-if="question.type=='textbox'">
                            <span class="input-label"><b>{{question.question}}</b></span>
                            <input type="text" ng-model="question.survey_answer" 
                                   name="survey_{{$index}}" 
                                   placeholder="" required >
                            <p ng-show="surveyForm.survey_{{$index}}.$error.required && !surveyForm.survey_{{$index}}.$pristine">Required.</p>
                        </label>
                        <label class="item item-input item-stacked-label" ng-if="question.type=='numerical_box'">
                            <span class="input-label"><b>{{question.question}}</b></span>
                            <input type="number" 
                                   ng-model="question.survey_answer" 
                                   name="survey_{{$index}}" 
                                   placeholder="" required >
                            <p ng-show="surveyForm.survey_{{$index}}.$error.required && !surveyForm.survey_{{$index}}.$pristine">Required.</p>
                        </label>
                        <label class="item item-input item-stacked-label" ng-if="question.type=='datetime'">
                            <span class="input-label"><b>{{question.question}}</b></span>
                            <input type="date" ng-model="question.survey_answer" name="survey_{{$index}}" placeholder="" required >
                            <p ng-show="surveyForm.survey_{{$index}}.$error.required && !surveyForm.survey_{{$index}}.$pristine">Required.</p>
                        </label>
                        <label class="item item-stacked-label" ng-if="question.type=='simple_choice'">
                            <span class="input-label"><b>{{question.question}}</b></span>
                            <label class="item item-radio" ng-repeat="label in question.label">
                                <input type="radio" ng-model="question.survey_answer" name="label_{{question.server_id}}" value="{{label.server_id}}" />
                                <div class="item-content" style='background-color:rgba(255,255,255, 0.8)'>
                                    {{label.value}}
                                </div>
                                <i class="radio-icon ion-checkmark" style="background-color:rgba(0,0,0,0.2)"></i>
                            </label>
                        </label>
                        <p>
                        </p>
                        <label class="item item-stacked-label" ng-if="question.type=='matrix'">
                            <span class="input-label"><b>{{question.question}}</b></span>
                            <div ng-repeat="label in question.label">
                                {{label.value}}
                                <label class="item item-radio" ng-repeat="sub_label in label.sub_label">
                                    <input type="radio" ng-model="label.survey_answer" ng-value="sub_label.server_id" name="sub_label_{{label.server_id}}_{{question.server_id}}" style='border:1px solid green'/>
                                    <div class="item-content" style='background-color:rgba(255,255,255, 0.8)'>
                                        {{sub_label.value}}
                                    </div>
                                    <i class="radio-icon ion-checkmark" style="background-color:rgba(0,0,0,0.2)"></i>
                                </label>
                            </div>
                        </label>
                    </div>
                    <div class='right' ng-if="$index < ( data.length-1)">   
                        <a href="#" ng-click="next($index)" class="button button-small">Next</a>
                    </div>
                </div>
                <button type="submit" 
                        class="button button-block button-stable"  
                        ng-disabled="surveyForm.$invalid">
                    Save
                </button>
                <!-- 
                <div class="item" ng-repeat="page in data.pages" ng-show="activePage==$index">
                    <h2>{{ page.title}}</h2>
                    <div class="list" ng-repeat="question in page.questions" 
                        style="background-color:transparent;border-left:none;">
                        <label class="item item-input item-stacked-label">
                            <span class="input-label">Asset Name*</span>
                            <input type="text" ng-model="data.asset_name" name="asset_name" placeholder="" required>
                            <p ng-show="assetForm.asset_name.$error.required && !assetForm.asset_name.$pristine">Required.</p>
                        </label>
                        <label class="item item-input item-stacked-label" ng-if="question.type=='textbox'">
                            <span class="input-label"><b>{{question.question}}</b></span>
                            <input type="text" ng-model="question.survey_answer" 
                                   name="survey_{{$index}}" 
                                   placeholder="" required >
                            <p ng-show="surveyForm.survey_{{$index}}.$error.required && !surveyForm.survey_{{$index}}.$pristine">Required.</p>
                        </label>
                        <label class="item item-input item-stacked-label" ng-if="question.type=='numerical_box'">
                            <div><b>{{question.question}}</b></div><br/>
                            <input type="number" 
                                   ng-model="question.survey_answer" 
                                   name="survey_{{$index}}" 
                                   placeholder="" required >
                            <p ng-show="surveyForm.survey_{{$index}}.$error.required && !surveyForm.survey_{{$index}}.$pristine">Required.</p>
                        </label>
                        <label class="item item-input item-stacked-label" ng-if="question.type=='datetime'">
                            <span class="input-label"><b>{{question.question}}</b></span>
                            <input type="date" ng-model="question.survey_answer" name="survey_{{$index}}" placeholder="" required >
                            <p ng-show="surveyForm.survey_{{$index}}.$error.required && !surveyForm.survey_{{$index}}.$pristine">Required.</p>
                        </label>
                        <label class="item item-stacked-label" ng-if="question.type=='simple_choice'">
                            <div><b>{{question.question}}</b></div><br/>
                              <label class="item item-radio" ng-repeat="label in question.label">
                                <input type="radio" ng-model="question.survey_answer" name="label_{{question.server_id}}" value="{{label.server_id}}" />
                                <div class="item-content" style='background-color:rgba(255,255,255, 0.8)'>
                                  {{label.value}}
                                </div>
                                <i class="radio-icon ion-checkmark" style="background-color:rgba(0,0,0,0.2)"></i>
                              </label>
                        </label>
                        <p>
                        </p>
                         <label class="item item-stacked-label" ng-if="question.type=='matrix'">
                            <div><b>{{question.question}}</b></div>
                             <div ng-repeat="label in question.label">
                                 {{label.value}}
                              <label class="item item-radio" ng-repeat="sub_label in label.sub_label">
                                <input type="radio" ng-model="label.survey_answer" ng-value="sub_label.server_id" name="sub_label_{{label.server_id}}_{{question.server_id}}" style='border:1px solid green'/>
                                <div class="item-content" style='background-color:rgba(255,255,255, 0.8)'>
                                  {{sub_label.value}}
                                </div>
                                <i class="radio-icon ion-checkmark" style="background-color:rgba(0,0,0,0.2)"></i>
                              </label>
                            </div>
                        </label>
                    </div>
                    <div class='right' ng-if="$index < ( data.length-1)">   
                        <a href="#" ng-click="next($index)" class="button button-small">Next</a>
                    </div>
                </div>
                <div class="list">
                    <button type="submit" class="button button-block button-stable"  ng-disabled="surveyForm.$invalid">
                        Save
                    </button>
                </div> -->
            </form>
        </div>  
    </ion-content>
</ion-view>
