<ion-view view-title="Workorder Images" ng-init="init()">
    <ion-nav-buttons side="secondary">
        <a class="button button-icon ion-ios-camera no-shadow" ng-click="takeAPicture()"></a>
    </ion-nav-buttons>
    <ion-content>
        <div class="wrapper fix-button">
            <br/>
            <button class="button button-small button-positive button-take-a-picture" ng-click="takeAPicture()">
                <i class="icon icon-middle ion-ios-camera"></i>
            </button>
            <a ng-click="uploadAll()" class="button button-positive button-small" ng-if="asset.showUploadButton" ng-disabled="startingOflineId < picture.asset_id">
                <i class='icon icon-middle ion-upload'></i>
            </a>

            <br/>
            <div id="asset-canvas-wrapper" ng-show="src !=='' ">
                <canvas class="canvas canvas-white" height="{{ canvasH }}" width="{{ canvasW }}" id="asset-canvas-main"></canvas>
            </div>
            <div class="images-list">
                <div ng-repeat="picture in pictures" class="asset-images">
                    <img ng-src="{{picture.base64}}" alt="" class="responsive" />
                    <div class="button-wrapper">
                        <a href="#" class="button button-small button-energized" ng-click="delete(picture.server_id)"><i class='icon icon-middle ion-close'></i></a>
                    </div>
                    <div class="status" ng-if="picture.action=='C'">
                        Not synced yet.
                    </div>
                </div>
            </div>
        </div>  
    </ion-content>
</ion-view>
