/* Empty. Add your own CSS if you like */

/* general */

/*
html,body { height: 100%; margin: 0px; padding: 0px; }
}
*/

/*
input[type="text"]{
    background-color:white;
}
*/
ion-view{
    
    /*background-image:url(../img/bg.png);
    background-repeat: ion-view;
    background-size: contain;
    background-color:#FCF2E1;*/
}
.view{
    background-color: transparent;
}

.scroll {
    height: 100%;
}
 

.map {
    width: 100%;
    height: 100%;
    background-color: #eee;
    
}
.platform-android .map{
    padding-bottom: 50px !important;
}
.platform-ios .map{
    padding-bottom: 25px !important;
}
/*
.angular-google-map-container { 
    height: 100%;
    height:500px;
}

@media (height: 1280px) {  
    .angular-google-map-container { 
        height:1175px;
    }
}

@media (max-height: 736px) {  
    .angular-google-map-container { 
        height:635px;
    }
}

@media (max-height: 580px) {  
    .angular-google-map-container { 
        height:465px;
    }
}

@media (height: 567px) {  
    .angular-google-map-container { 
        height:465px;
    }
}

@media (height: 640px) {  
    .angular-google-map-container { 
        height:530px;
    }
}

@media (max-height: 480px) {  
    .angular-google-map-container { 
        height:380px;
    }
}
*/

#map_canvas {
    width: 100%;
    height: 100%;
    margin: 0;
    position: relative;
}

.angular-google-map-container {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.button, .bar.bar-stable .title {
    color:white;
}

.button .icon.icon-middle{
    vertical-align: middle;
}

@media (max-width: 480px) {   
    .bar .button, .bar .button.button-flat, 
    .bar .button.button-large, .button, 
    .button.button-flat, .button.button-large{
        padding:0 1.6rem
    }
}

.responsive{
    min-width: 100%;
    width: 100%;
}

.center{
    text-align: center;
}

.right{
    text-align: right;
}

.line{
    display:block;
    height:1px;
    background-color:#E6DECF;
    width:100%;
    margin:10px 0px;
}

.data-table{
    display:table;
    width:100%;
}

.data-row{
    display:table-row;
}

.data-cell{
    display:table-cell;
    vertical-align: top;
}

.data-cell.middle{
    vertical-align: middle;
}

.data-cell.center{
    text-align: center;
}

.data-cell.header{
    background-color:#bbb;
    border-bottom:1px solid red;
}

.data-cell.checkbox{
    width:60px;
}

.data-cell.thumbnail{
    width:80px;
    text-align: center;
}

.data-cell.thumbnail img{
    width:40px;
}

/*
.ion-autocomplete-container {
    width: 50%;
    margin-left: 25%;
}
*/

/*@media (max-width: 768px) {   */
    
    .ion-autocomplete-container {
        width: 100%;
        margin-left: 0%;
    }
/*}*/

.ion-autocomplete-container .bar-header label{
    margin-left: 10px;
}

.ion-autocomplete-container .bar-header button{
    width: 20px;
    max-width: 20px;
    padding: 0px;
}

.ion-autocomplete-container ion-item.result{
    border-bottom:1px solid #ddd;
}

.ion-autocomplete-container ion-item.result:nth-child(odd){
    background-color:rgba(0, 0, 0, 0.05);
}

.filter-text{
    display:inline-block;
}

.filter-icon{
    display:none;
}

@media (max-width: 420px) {   
    .filter-text{
        display:none;
    }

    .filter-icon{
        display:inline-block;
        margin-top:7px;
    }
}

@media (max-width: 768px) {
    .data-cell.thumbnail{
        width:60px;
    }
    .data-cell.thumbnail img{
        width:30px;
    }
}

@media (max-width: 480px) {
    .data-cell.thumbnail{
        width:55px;
    }
    .data-cell.thumbnail img{
        width:25px;
    }
}

.wrapper{
    /*width:1024px;*/
    border:1px solid transparent;
    /*height:100%;*/
    padding:0px 0px;
    position: relative;
    min-height: 200px;
}

@media (max-width: 1024px) {
    .wrapper{
        width:100%;
        padding: 5px 3px;
    }
}

.wrapper.fix-button .button{
    line-height:2.5em;
}

.category{
    margin-top:10px;
}

/* filter */
.list-filter{
    /*position:absolute;
    top:7px;
    left:0px;*/
    z-index:8;
    right:0px;
    transition:All 1s ease;
    -webkit-transition:All 1s ease;
    -moz-transition:All 1s ease;
    -o-transition:All 1s ease;
    -moz-box-shadow: 2px 2px 5px #f00;
    -webkit-box-shadow: 2px 2px 5px #f00;
    box-shadow: 2px 2px 5px #f00;
}
.filter-button{
    position:absolute;
    top:132px;
    right:20px; 
    z-index:8;
    transition:All 1s ease;
    -webkit-transition:All 1s ease;
    -moz-transition:All 1s ease;
    -o-transition:All 1s ease;
}

.button-bar{
    margin:5px 0;
}

.button-bar a.active{
    color:#FD7C67;
}


/* add button */
div.add-button{
	position:absolute;
	right:5px;
    bottom:60px;
}

.platform-android .button.add-button{
    bottom:10px;
}

.platform-ios .button.add-button{
    bottom:60px;  
}

.button.add-button i{
    font-size:10.5rem;
}

.button.add-button i.icon{
    vertical-align: middle;
}

/* category */
.data-cell-barcode{
    width:100px;
    text-align: right;
}

.data-cell-barcode a{
    width:55px;
    background-image:url(../img/barcode_icon.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    box-shadow:none;
}

/* login */
#login-logo{
    text-align: center;
    width:75%;
    margin:100px auto 80px;
}

#login-logo img{
    width:100%;
    min-width: 100%;
}

#login-form{
    margin:20px auto 100px;
    width:75%;
}

@media (max-width: 520px) {
    #login-form{
        width:100%;
    }
}

#login-form .list:first-child{
    background-color:#969FA4;
    border:solid 1px #969FA4;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    /* Prevent background color leak outs */
    -webkit-background-clip: padding-box; 
    -moz-background-clip: padding; 
    background-clip: padding-box;
}

#login-form .list:first-child i{
    color:#3F4D63 ;
    font-size:1.4em;
}

#login-form .list:first-child input[type="text"],
#login-form .list:first-child input[type="password"]{
    padding:25px;
}

@media (max-width: 520px) {
    #login-form .list:first-child input[type="text"],
    #login-form .list:first-child input[type="password"]{
        padding:15px 25px;
    }
}

#login-form .list:first-child label:first-child{
    border-bottom:1px solid #3F4D63;
}

#login-form .list button[type="submit"]{
    width:60%;
    margin:0px auto;
    display:block;
}

/* left navigation */
.menu .bar-header {
    background-color: #2F3C49;
}

.menu .scroll-content {
    background-color: #2F3C49;
}

#user-photo{
    padding-top:20px;
    text-align:center;
}

#user-photo h5, h6{
    color:#8893A0;
}

#user-photo img.user{
    width:100px;
    border:solid 2px #FB7B66;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
}

a.item-content {
    color: #FEF4E3;
    font-size:20px;
}

ion-side-menu ion-item:nth-child(odd){
    background-color:#2B3744;
}

a.item-content img{
    margin-bottom:-6px;
    margin-right:10px;
}

/* assets */
.assets-view{
    margin-bottom:10px;
}

.assets-list{
    margin-bottom:20px;
}

.assets-list:nth-last-child(1){
    margin-bottom:80px;
}

/*.assets-list .list .item{
    min-height: 85px;
}*/

.asset-attributes{
    font-style:italic;
    font-size: 11.5px;
	color: #000;
}

.item-asset{
    position:relative;
    padding-top: 40px;
}

.item-asset .item-header{
    position:absolute;
    top:0px;
    left: 0px;
    width: 100%;
    background-color: #E9E4D9;
    padding:5px 20px;
}

.asset-status{
    font-size: 0.6em;
    background-color: red;
    padding: 2px 10px;
    border-radius: 5px;
    display: inline-block;
    color: white;
    position:absolute;
    top:10px;
    right:28px;
}

.asset-status.survey-status{
    right: 70px;
    font-size:0.8em;
    top:14px;
}

.asset-status.attachment-status{
    font-size:0.8em;
    top:auto;
    bottom:10px;
    right:10px;
}

@media (max-width: 480px) {
    .asset-status.survey-status{
        right: 60px;
    }
}

.asset-wo-camera{
    position:absolute;
    top: 9px;
    right: 8px;
}

.asset-wo-camera .button{
    padding: 0px 0.7rem;
}

/*
.item-thumbnail-right > img:first-child, .item-thumbnail-right .item-image, .item-thumbnail-right .item-content > img:first-child, .item-thumbnail-right .item-content .item-image {
    position: absolute;
    top: 35px;
    right: 10px;
    max-width: 45px;
    max-height: auto;
    width: 45px;
    height: auto;
} */

.card img{
    box-shadow: none !important;
    right: 10px !important;
    margin-right: 0px !important;
    max-width: 175px !important;
    max-height: 85px !important;
}

.card.card-message{
    text-align: center;
    padding:20px 10px;
}

/* asset details */
.paging-button{
    margin-top:3px;
    margin-bottom:10px;
}

.edit-button{
    background-color: #303C4B;
    padding:6px 1px;
    margin:-5px 0px 10px 0px;
}

.carousel{
    margin:0px;
    padding:0px;
    position:relative;
}

.carousel .next-button{
    position:absolute;
    top:45%;
    right:0px;
}

.carousel img{
    transition:All 1s ease;
    -webkit-transition:All 1s ease;
    -moz-transition:All 1s ease;
    -o-transition:All 1s ease;
}

.carousel .prev-button{
    position:absolute;
    top:45%;
    left:0px;
}

.carousel .gallery-navigation{
    position:absolute;
    top:10px;
    width:100%;
    left: 0px;
    text-align:center;
}


.carousel .gallery-navigation ul li{
    margin:0px 10px;
    display:inline-block;
}


.carousel .gallery-navigation ul li a{
    color: transparent;
    border: 1px solid white;
    text-decoration: none;
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 2em;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border:3px solid white;
    background-color: rgba(255,255,255,0.4);
}

.carousel .gallery-navigation ul li a[disabled="disabled"]{
    background-color: rgba(0,0,0,0.5);
    border:3px solid gray;
}

.details{
    /*margin-bottom: 50px;*/
    margin: 10px 5px;
}

@media (max-width: 680px) {
    .details{
        font-size: 0.9em;
    }
}

.details h4{
    margin-top:15px;
    margin-bottom:-1px;
    color:#ffa549;
}

.details .item-header{
    width: 100%;
    padding: 7px 2px;
    font-weight:bold;
}

.details .item-details .data-cell{
    width:50%;
}

.details div.list{
    background-color: transparent;
}

.details div.list label{
    background-color:#fff;
}

.details .list-map{
    height:320px;
}

.details .list-attributes input[type="text"]{
    width:90%;
    padding:2px 10px;
}

.details .list-attributes .data-table{
    margin-bottom:10px;
}

.details .list-attributes .data-table .data-cell-attribute input[type="text"]{
    background-color:#fff;
}

.details .list-inset{
    border-left:none;
}
    
@media (max-width: 520px) {   
    .details .list-inset{
        margin:20px 0px;
    }
}

/* images */
.button-take-a-picture{
    margin-bottom: 15px;
}

#asset-canvas-wrapper{
    width:960px; 
    border:1px solid transparent;
    margin:0 auto 20px;
}

@media (max-width: 960px) {   
    #asset-canvas-wrapper{
        width:100%; 
    }
}


#new-asset-image{
    margin-bottom:15px;
    padding: 3px;
    border:1px solid gray;
}

.asset-images{
    position:relative;
}

.asset-images .button-wrapper{
    position:absolute;
    top:5px;
    right:5px;
}

.asset-images .status{
    position:absolute;
    top:5px;
    left:5px;
    background-color: rgba(0, 0, 0, 0.5);
    color:#fff;
    padding:5px;
}

.bar.bar-positive {
	box-shadow: 0 0px 0px 0 rgba(0,0,0,.26);
}
.scroll-content{
	background-color: #eaebed;
}

.card a{
	text-decoration: none;
}

.am-item{
	background-color: white;
	padding-top: 0px
}

.list .item{
	min-height: initial !important;
}
.tab-item .icon{
    margin: 2px 0 0 0;
}


    
.tabs-striped.tabs-positive .tabs{
    /*background-color: #ffa549;*/
}
.tabs-top > .tabs, .tabs.tabs-top{
    /*padding-top: 2px;*/
}

.darkbg{
    background-color: #3b657d !important;
    top: -2px;
    display: inline-block;
    height: 48px;
}
a.darkbg.tab-item.activated{
    top: -3px !important; 
    display: inline-block !important;
    height: 48px !important;
    padding-top: 3px !important;
    background-color: #0f4e74 !important;
}
.greybg{
    background-color: #a3b3c0 !important;
    top: -2px;
    display: inline-block;
    height: 48px;
}
a.greybg.tab-item.activated{
    top: -3px !important; 
    display: inline-block !important;
    height: 48px !important;
    padding-top: 3px !important;
}
.light-active{
    background-color: #3b657d !important;	
    top: -2px;
    display: inline-block;
    height: 48px;
}
a.light-active.tab-item.activated{
    top: -3px !important; 
    display: inline-block !important;
    height: 48px !important;
    padding-top: 3px !important;
    background-color: transparent !important;
}
a.positive-active.tab-item.activated{
    top: -3px !important; 
    display: inline-block !important;
    height: 48px !important;
    padding-top: 3px !important;
    background-color: #3b657d !important;
}
a.button.no-shadow{
    box-shadow: 0 0 0 0 rgba(0,0,0,.16),0 0 0 0 rgba(0,0,0,.12);
    padding: 8px 10px;
}
button.button.no-shadow{
    box-shadow: 0 0 0 0 rgba(0,0,0,.16),0 0 0 0 rgba(0,0,0,.12);
    padding: 0 10px;
}
.card{
    margin: 5px;
}

a.light-active.tab-item  span{
    padding: 14px;
    display: table-cell;
}

.platform-ios .popover .item, 
.platform-ios .popover .scroll-content{
    background-color: white;
}
.button.left{
    float: left;
}
.button.right{
    float: right;
}
ion-list ion-item{
    left: -5px;
}
.filter-bar-clear,
.filter-bar-cancel{
    box-shadow: none !important;
    padding: 0px 0px !important;
}

.details h4.ng-binding, .details div.item-header.ng-binding{
    margin-left: 15px;
    padding-left: 0px;
}

.asset-attrs b{
    margin-left: 10px;
}
